@media print {
    .BH-Monster-button {
        display: none !important;
    }
}

@media screen {
    .BH-Monster-button {
        display: inline-block !important;
        margin-right: 10px !important;
        margin-bottom: 20px !important;
        width: auto !important;
        padding: 0 15px !important;
        border-color: #bc0f0f !important;
    }
    .BH-Monster-button span::before {
        content: '';
        display: inline-block;
        height: 12px;
        width: 12px;
        background: url("chrome-extension://__MSG_@@extension_id__/icon-white.svg") no-repeat;
        background-size: cover;
        margin-right: 10px;
        -webkit-transform: translateY(1px);
        transform: translateY(1px)
    }
    .BH-Table-roll-dice {
        cursor: pointer;
        color: #0f5cbc;
        user-select: none;
    }
    .BH-Table-roll-cell-left {
        border-left-style: solid !important;
        border-left-width: 3px !important;
        border-left-color: #0f5cbc !important;
    }
    .BH-Table-roll-cell-right {
        border-right-style: solid !important;
        border-right-width: 2px !important;
        border-right-color: #0f5cbc !important;
    }
    .BH-Table-roll-tip .qtip-content {
        text-align: center !important;
    }
}