@media print {
    .image,
    .details-aside,
    .ddb-pronunciation-clip,
    .more-links,
    .BH-Monster-button,
    .site-interactions,
    .atf,
    #footer {
        display: none !important;
    }
    a[href]:after {
        content: none !important;
    }
    .ad-container {
        height: 0px !important;
        margin-bottom: 0px !important;
    }
    .more-info.details-more-info,
    .details-container {
        padding-top: 26px !important;
        border-top-color: rgb(236, 233, 233) !important;
        border-top-style: solid !important;
        border-top-width: 1px !important;
    }
    header.main {
        height: 0px !important;
        visibility: hidden !important;
    }
    #site-main::before {
        background-image: none !important;
    }
}