.Monster-options {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .modal-body {
        padding: 8px 0px;
        .list-group {
            box-shadow: none;
            margin-bottom: 0px;
            .list-group-item {
                border: 0px;
                .input-group {
                    width: -webkit-fill-available;
                }
            }
        }
        .sketch-picker {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px !important;
        }
    }
}