.Monster-options {
    .modal-body {
        padding: 8px 0px;
        .list-group {
            box-shadow: none;
            margin-bottom: 0px;
            .list-group-item {
                border: 0px;
            }
        }
    }
}