$ddb-gray: #979aa4;
$ddb-orange: #ee8600;
$ddb-red: #bc0f0f;
$ddb-dark-blue: #0f5cbc;
$orange-border: #ffc478;
// used for action links and tooltips
@mixin link($color, $font-style) {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $color !important;
        font-style: $font-style;
    }
}

.BH-qtip .qtip-content {
    text-align: center !important;
}

.tooltip-header {
    background-position-y: 71px !important;
}

@import "addmonsters/addmonsters";
@import "characters/characters";
@import "references/references";
@import "tableroll/tableroll";
@import "tinymce/tinymce";
@import "tooltips/tooltips";
@import "playbypost/playbypost";