$ddb-gray: #979aa4;
$ddb-orange: #ee8600;
$ddb-red: #bc0f0f;
$ddb-green: #47D18C;
$ddb-dark-blue: #0f5cbc;
$orange-border: #ffc478;
// used for action links and tooltips
@mixin link($color, $font-style) {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $color !important;
        font-style: $font-style;
    }
}

// used for elements that show on hover
@mixin showOnHover($clazz) {
    &:hover .#{$clazz} {
        opacity: 1;
        transition: visibility 0s, opacity 0.5s linear;
        visibility: visible;
    }
    .#{$clazz} {
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
        visibility: hidden;
    }
}

@mixin icon($icon) {
    i.fa.fa-#{$icon} {
        mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/font-awesome/" + $icon + ".svg") no-repeat 50% 50%;
        -webkit-mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/font-awesome/" + $icon + ".svg") no-repeat 50% 50%;
        background-color: #000 !important;
        width: 12px;
        height: 12px;
        vertical-align: middle !important;
        display: inline-block;
    }
}

.BH-qtip .qtip-content {
    text-align: center !important;
}

.tooltip-header {
    background-position-y: 71px !important;
}

@import "characters/characters";
@import "maps/extrarefsmode/drawing/drawingtoolbar";
@import "maps/maps";
@import "monsters/monsters";
@import "playbypost/playbypost";
@import "references/references";
@import "tableroll/tableroll";
@import "tinymce/tinymce";
@import "tooltips/tooltips";
@import "tableofcontents/tableofcontents"