$ddb-gray: #979aa4;
$ddb-orange: #ee8600;
$ddb-red: #bc0f0f;
$ddb-green: #47D18C;
$ddb-dark-blue: #0f5cbc;
$orange-border: #ffc478;
// used for action links and tooltips
@mixin link($color, $font-style) {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $color !important;
        font-style: $font-style;
    }
}

// used for elements that show on hover
@mixin showOnHover($clazz) {
    &:hover .#{$clazz} {
        opacity: 1;
        transition: visibility 0s, opacity 0.5s linear;
        visibility: visible;
    }
    .#{$clazz} {
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
        visibility: hidden;
    }
}

.BH-qtip .qtip-content {
    text-align: center !important;
}

.tooltip-header {
    background-position-y: 71px !important;
}

@import "addmonsters/addmonsters";
@import "characters/characters";
@import "maps/maps";
@import "playbypost/playbypost";
@import "references/references";
@import "tableroll/tableroll";
@import "tinymce/tinymce";
@import "tooltips/tooltips";