.BH-character-list {
    list-style: none !important;
    list-style-image: none !important;
    padding: 0 !important;
}

a.BH-homebrew-character-action {
    @include link($ddb-orange, inherit);
}

.BH-character-multiple-select {
    font-size: 15px !important;
    height: 100% !important;
    overflow: hidden !important;
}

.BH-character-folder-li {
    display: inline-block;
    &.open {
        width: 100%;
    }
    &.closed {
        width: 33%;
    }
}