.Monster-menu-button {
    padding-right: 4px;
    opacity: .4;
    color: #000 !important;
}

.Monster-menu-button:focus, .Monster-menu-button:hover {
    cursor: pointer;
    filter: alpha(opacity=70);
    opacity: .7;
}