ul::-webkit-scrollbar {
    display: none;
}

.BH-toc-scroll-button {
    background: #fff;
    border: 1px solid #CBC6C3;
    padding: 2px;
    cursor: pointer;
    i {
        width: 100% !important;
        height: 16px !important;
        opacity: 0.5;
        &:hover {
            opacity: 0.7;
        }
    }
    &.BH-disabled {
        cursor: default !important;
        i {
            opacity: 0.2 !important;
        }
    }
}

.BH-toc-scroll-up {
    border-bottom-width: 0px;
    @include icon("chevron-up-solid");
}

.BH-toc-scroll-down {
    border-top-width: 0px;
    @include icon("chevron-down-solid");
}