.BH-option-toolbar {
    border-radius: 4px;
    background-color: $options-light-gray;
    padding: 8px 12px;
    margin: 8px 0px;
    .Bh-option-button {
        font-size: 12px;
        line-height: 12px;
        padding-right: 8px;
    }
}