.BH-option-group {
    margin-bottom: 10px;
    margin-top: 10px;
    .BH-option-group-label {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        .glyphicon {
            float: right;
        }
        &:hover {
            color: $options-dark-gray;
        }
    }
    .BH-option-group-content {
        display: none;
        padding-left: 20px;
        &.expanded {
            display: block;
        }
    }
}