$options-black: #2e2e2e;
$options-dark-gray: #646464;
$options-light-gray: #eee;
$options-red: #dd2c00;
$options-green: #0f9d58;
$options-white: #fff;
@mixin hoverColor {
    &:hover {
        color: $options-dark-gray !important;
    }
}

@mixin hoverBackground {
    &:hover {
        background: $options-light-gray !important;
    }
}

@mixin icon($icon) {
    i.fa.fa-#{$icon} {
        mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/font-awesome/" + $icon + ".svg") no-repeat 50% 50%;
        -webkit-mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/font-awesome/" + $icon + ".svg") no-repeat 50% 50%;
        background-color: $options-black;
        width: 32px;
        height: 32px;
        margin: 0px 4px;
        display: inline-block;
    }
}

@include icon("d-and-d-beyond");
@include icon("github");
@include icon("twitter");
@include icon("twitch");
@import "OptionsApp";
@import "OptionsCredits";
@import "OptionsGroup";
@import "OptionsToolbar";
@import "OptionButton";
@import "extramaprefs/ColorChromeWidget";
@import "extramaprefs/ExtraMapRefsOptions";
@import "extramaprefs/ExtraMapRefsFormArrayTemplate";
@import "playbypost/PbpEntriesForm";