body {
    padding: 16px;
}

.BH-option-form-width-hack {
    visibility: hidden;
    width: 664px;
}

.BH-option-group {
    margin-bottom: 10px;
    margin-top: 10px;
    .BH-option-group-label {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        .glyphicon {
            float: right;
        }
    }
    .BH-option-group-content {
        display: none;
        padding-left: 20px;
        &.expanded {
            display: block;
        }
    }
}