$options-black: #2e2e2e;
$options-dark-gray: #646464;
$options-light-gray: #eee;
$options-red: #dd2c00;
$options-green: #0f9d58;
$options-white: #fff;
@mixin hoverColor {
    &:hover {
        color: $options-dark-gray !important;
    }
}

@mixin hoverBackground {
    &:hover {
        background: $options-light-gray !important;
    }
}

@import "OptionsApp";
@import "OptionsGroup";
@import "OptionsToolbar";
@import "OptionButton";
@import "extramaprefs/ColorChromeWidget";
@import "extramaprefs/ExtraMapRefsOptions";
@import "extramaprefs/ExtraMapRefsFormArrayTemplate";
@import "playbypost/PbpEntriesForm";