@mixin reference($size, $margin) {
    .BH-copy-reference {
        mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/icon-black.svg") no-repeat 50% 50%;
        -webkit-mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/icon-black.svg") no-repeat 50% 50%;
        -webkit-mask-size: 100% 100%;
        background-size: cover;
        display: inline-block;
        height: $size;
        margin-left: $margin;
        width: $size;
        background-color: #000 !important;
        &:hover {
            background-color: $ddb-green !important;
        }
    }
    @include showOnHover("BH-copy-reference");
}

@media screen {
    h1 {
        @include reference(24px,
        10px);
    }
    h2 {
        @include reference(18px,
        8px);
    }
    h3 {
        @include reference(14px,
        8px);
    }
    h4,
    h5 {
        @include reference(12px,
        6px);
    }
    .BH-tooltip-reference-body {
        .p-article-a,
        .p-article-content {
            margin-bottom: 0px !important;
        }
    }
}