body {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

ul {
    list-style-type: none;
    padding: 8px;
    margin: 0
}

li {
    margin-bottom: 20px;
}

.Dialog-opened {
    min-height: 500px;
}

.Monster-encounter-menu {
    padding: 8px 8px 0px 8px;
    .Menu-button {
        position: relative;
        top: 3px;
    }
    .Monster-encounter-select {
        margin-left: 2px;
        display: inline-block;
        width: calc(100% - 63px);
    }
}

.Monster-list-last {
    margin-bottom: 0px !important;
}

.Monster-empty-list {
    margin: 8px;
    p {
        margin: 0;
    }
}

.modal {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.modal-dialog {
    .modal-header,
    .modal-body,
    .modal-footer {
        padding: 8px;
    }
    .modal-title {
        font-size: 16px;
    }
    .form-group {
        margin-bottom: 0px;
    }
}

.Select-menu-outer {
    width: calc(100% - 4px) !important;
}