ul {
    list-style-type: none;
    padding: 8px;
    margin: 0
}

li {
    margin-bottom: 20px;
}

.Monster-list-last {
    margin-bottom: 0px !important;
}

.Monster-empty-list {
    margin: 8px;
}

.Monster-empty-list p {
    margin: 0;
}