.Monster-hp-pop {
    font-weight: bold;
}

.Monster-hp-pop-damage {
    color: #d9534f;
}

.Monster-hp-pop-heal {
    color: #5cb85c;
}

.Monster-hp-pop-fade {
    opacity: 0 !important;
    -webkit-transition: opacity 2000ms linear;
    -o-transition: opacity 2000ms linear;
    transition: opacity 2000ms linear;
}

.Monster-hp-pop-in {
    opacity: 1 !important;
}