ul {
    list-style-type: none;
    padding: 8px;
}

li {
    margin-bottom: 10px;
}

.Monster-list-header {
    width: calc(100% - 30px);
}

.Monster-list-header p{
    margin: 0px;
    font-size: 16px;
}

.Monster-list-last {
    margin-bottom: 0px !important;
}