.Monster-list-header {
    width: calc(100% - 30px);
    cursor: pointer;
    display: inline-block;
}

.Monster-list-header-collapsible {
    position: absolute;
    right: 8px;
}

.Monster-list-column {
    padding: 5px;
}