.Monster-dead {
    background-image: linear-gradient(to bottom, #888888 0%, #a5a5a5 100%);
    background-repeat: initial;
}

.Monster-delete-button {
    font-size: 10px;
    padding-top: 5px;
}

.Monster .progress {
    position: relative;
    margin-bottom: 0px !important;
    background-image: linear-gradient(180deg, #aaa 0, #ddd) !important;
}

.Monster.well {
    padding: 8px !important;
    margin-bottom: 0px !important;
}

.Monster .form-group {
    margin-bottom: 0px !important;
}