.Monster-hp-bar-text {
    left: 0px;
    right: 0px;
    position: absolute;
    font-weight: bold;
}

.Monster-hp-bar {
    width: calc(100% - 23px);
    float: left;
    padding-left: 15px;
    padding-right: 4px;
}

.Monster-hp-bar .progress {
    cursor: pointer;
}