.Monster-dead {
    background-image: linear-gradient(to bottom, #888888 0%, #a5a5a5 100%);
    background-repeat: initial;
}

.Monster-hp-bar-text {
    position: absolute;
    width: 100%;
    color: #333;
    font-weight: bold;
}

.Monster-damage-column {
    padding-right: 4px !important;
}

.Monster-heal-column {
    padding-left: 4px !important;
}

.Monster-hp-button {
    padding-left: 8px !important;
	padding-right: 8px !important;
	height: 34px;
}

.Monster-hp-bar {
    width: calc(100% - 23px);
    float: left;
    padding-left: 15px;
    padding-right: 4px;
    cursor: pointer;
}

.Monster-delete-button {
    font-size: 10px;
    padding-top: 5px;
}

.progress {
	position: relative;
    margin-bottom: 0px !important;
    background-image: linear-gradient(180deg,#aaa 0,#ddd) !important;
}

.well {
	padding: 8px !important;
	margin-bottom: 0px !important;
}

.form-group {
    margin-bottom: 0px !important;
}