@mixin mapLinkIcon($size) {
    &:hover i.fa.fa-map {
        background-color: $ddb-green !important;
    }
    i.fa.fa-map {
        mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/map.svg") no-repeat 50% 50%;
        -webkit-mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/map.svg") no-repeat 50% 50%;
        width: $size !important;
        height: $size !important;
        display: inline-block !important;
        vertical-align: middle !important;
        background-color: #000 !important;
    }
}

@mixin mapLink($size,
$margin) {
    a.tooltip-hover.BH-map-link {
        margin-left: $margin;
        @include mapLinkIcon($size);
    }
    @include showOnHover("BH-map-link");
}

@mixin menuMapLink($marginLeft,
$marginRight) {
    a.BH-map-menu-link {
        padding-right: 0px !important;
        margin-left: $marginLeft !important;
        margin-right: $marginRight !important;
        @include mapLinkIcon(16px);
    }
}

@mixin tocMapLink($marginLeft,
$marginRight) {
    a.BH-map-toc-link {
        padding-right: 0px !important;
        margin-left: $marginLeft !important;
        margin-right: $marginRight !important;
        @include mapLinkIcon(16px);
    }
}

@media screen {
    h1 {
        @include mapLink(24px,
        10px);
    }
    h2 {
        @include mapLink(18px,
        8px);
    }
    h3 {
        @include mapLink(14px,
        8px);
    }
    h4,
    h5 {
        @include mapLink(12px,
        6px);
    }
    .quick-menu.quick-menu-tier-1 {
        @include menuMapLink(-6px,
        -4px);
    }
    .quick-menu.quick-menu-tier-2 {
        @include menuMapLink(0px,
        -8px);
    }
    .quick-menu.quick-menu-tier-3 {
        @include menuMapLink(0px,
        -23px);
    }
    .quick-menu.quick-menu-tier-4 {
        @include menuMapLink(0px,
        -38px);
    }
    .compendium-toc-full-text,
    .compendium-toc-block-text {
        @include tocMapLink(4px,
        0px);
    }
}

@media print {
    .BH-map-link-container {
        display: none;
    }
    div.ddb-lightbox-inner {
        background-image: none !important;
        img {
            opacity: unset !important;
        }
    }
}

.compendium-image-center>div.ddb-lightbox-inner {
    transform: translateX(-50%);
    left: 50%;
}