@mixin mapLinkIcon($size) {
    &:hover i.fa.fa-map {
        background-color: $ddb-green !important;
    }
    i.fa.fa-map {
        mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/font-awesome/map.svg") no-repeat 50% 50%;
        -webkit-mask: url("chrome-extension://__MSG_@@extension_id__/webaccessible/font-awesome/map.svg") no-repeat 50% 50%;
        width: $size !important;
        height: $size !important;
        display: inline-block !important;
        vertical-align: middle !important;
        background-color: #000 !important;
    }
}

@mixin mapLink($size,
$margin) {
    a.tooltip-hover.BH-map-link {
        margin-left: $margin;
        @include mapLinkIcon($size);
    }
    @include showOnHover("BH-map-link");
}

@mixin tocMapLink($marginLeft,
$marginRight) {
    a.BH-map-toc-link {
        padding-right: 0px !important;
        margin-left: $marginLeft !important;
        margin-right: $marginRight !important;
        @include mapLinkIcon(16px);
    }
}

@media screen {
    .quick-menu-item-label {
        .BH-map-link-container {
            &:last-child {
                padding-right: 12px;
            }
            a.BH-map-menu-link {
                padding-left: 0px !important;
                padding-right: 0px !important;
                margin-left: 0px !important;
                margin-right: 0px !important;
                @include mapLinkIcon(16px);
            }
        }
    }
    h1 {
        @include mapLink(24px,
        10px);
    }
    h2 {
        @include mapLink(18px,
        8px);
    }
    h3 {
        @include mapLink(14px,
        8px);
    }
    h4,
    h5 {
        @include mapLink(12px,
        6px);
    }
    .compendium-toc-full-text,
    .compendium-toc-block-text {
        @include tocMapLink(4px,
        0px);
    }
    .BH-map-container {
        position: relative;
        background-size: contain;
        img {
            width: 100% !important;
            height: 100% !important;
            position: absolute !important;
            top: 0px;
            left: 0px;
            padding: 0px !important;
            border: 0px !important;
            opacity: 0;
        }
        canvas {
            width: 100% !important;
            height: 100% !important;
            position: absolute !important;
            top: 0px;
            left: 0px;
            padding: 0px !important;
            border: 0px !important;
        }
    }
}

@media print {
    .BH-map-link-container {
        display: none;
    }
    div.ddb-lightbox-inner {
        background-image: none !important;
        img {
            opacity: unset !important;
        }
    }
}

.compendium-image-center>div.ddb-lightbox-inner {
    transform: translateX(-50%);
    left: 50%;
}